:root{
  --primary-color: #c72727;
  --secondary-color:#f99500;
  --light-color:#f3f3f3;
  --dark-color:#333;
  --ent-color:#a66bbe;
  --max-width:1300px;
}

.category{
  --sports-color:#f99500;
  --ent-color:#a66bbe;
  --tech-color:#009cff;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a{
  color:#333;
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  margin: .5rem 0;
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Staaliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

.category{
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-1 {background: var(--sports-color);}
.category-2 {background: var(--ent-color);}
.category-3 {background: var(--tech-color);}



.btn{
  display: inline-block;
  border:none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}


.btn-light{ background: var(--light-color)}
.btn-primary{background: var(--primary-color)}
.btn-secondary{background: var(--secondary-color)}

.btn-block{
  display: block;
  width: 100%;
  text-align: center;
}


.btn:hover{
  opacity: 0.9;
}


/* Utility */
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
#main-nav{
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container{
  display: grid;
  grid-template-columns: 1fr 7fr 2fr ;
  padding: 1rem;
  align-items: center;
}

#main-nav .container h3 .name {
  color: #a66bbe;
}

#main-nav .logo{
  width: 180px;
}

#main-nav ul{
  justify-self: end;
  display: flex;
}

#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
}


#main-nav ul li .cart{
  color: var(--secondary-color);
}

#main-nav .search-section{
  justify-self: center;
  
}

#main-nav .search-section input{
  padding :1rem 18rem 1rem .5rem;
  overflow: hidden;
}


#main-nav .container .search-section .search-icon{
  display: inline-block;
  position: absolute;
  text-align: center;
  padding :.8rem 3rem 1rem .8rem;
  background-color: var(--secondary-color);
  margin-left: -.1rem;
  
}

.nav-2{
  
  background-color: var(--dark-color);
  color: #fff;
  font-family: 'Staaliches', cursive;

}

.nav-2 .container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  padding: 1rem;
  align-items: center;
}
.nav-2 a{
 
  color: #fff;
}



#showcase{
  color:#fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase:before{
  content:'';
  background: url('./img/electronics.jpg') no-repeat center center/cover;
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}


#showcase .showcase-content{
  z-index: 1;
}

#showcase .showcase-content p{
  margin-bottom: 1rem;
}

 .electronic-gadgets {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.electronic-gadget1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

}

.electronic-gadget1 .cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.electronic-gadget2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 /span 2;
  align-items: center;
  grid-gap: .5rem;
}




#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}
 img{
  max-width: 12.5rem;
  max-height: 12.5rem;
}

.card{
  background: #fff;
  padding: 1rem;
}

/* Footer styling starts here */
footer{
  background: #000;
  color: #fff;
}

.footer-header {
	display: flex;
	justify-content: space-evenly;
  padding-top: 30px;
  margin-top: 150px
}

.footer-header .name {
	font-size: 1.6rem;
	flex: 1;
	padding-left: 50px;
}
.footer-header .subscription{
 
    display: flex;
    flex-direction: column;
    flex: 2;
}
.footer-header .download-app{
  flex: 1;
}
.footer-header .subscription form input{
	border-radius: 3px;
	height: 32px;
	border: none;
	padding: 5px;
	width: 45%;
}
.footer-header button {
	height: 32px;
	width: 80px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #000;
  color: #fff;
  
}
.btn-mg-left{
  margin-left: 8px;
}
.footer-header .subscription form button:first-child{
margin-right: 10px;
}
.footer-header .cart-footer{
  display: flex;
}

.footer-header .cart-footer p:first-child{
 
    padding: 10px;
    background: #f99500;
    border-radius: 5px;
  margin-right: 10px;
}
.wrapper{
  background: #0f0e0e;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-evenly;
	
  margin: 50px 0;
  padding: 20px 0;
	
}
footer .help{
  flex: 1;
  padding-left: 50px;
}
footer .more{
  flex: 2;
  display: flex;
}

footer .country{
  flex: 1;
  display: flex;
  
}
footer .about{
  width: 35%;
}
footer a{
  color: #fff;
  font-size: .7rem;
}
footer p{
  font-size: .7rem;
  font-weight: bold;
 
}
footer ul{
  padding-top: 20px;
}

.country-right ul{
  margin-top: 30px;
}
/* contact section is the row after the bottom */
.contact-section {

}
.container-contact{
	display: flex;
	padding-left: 50px;
}

.social-media {
width: 25%;
}
.social-media i{
  
    letter-spacing: 10px;
    padding: 20px 0;
  
}
.phone{
  width: 17%;
}
.payment-method{
  
}

.payment-method i{
  letter-spacing: 10px;
    padding: 20px 0;
}

hr{
  margin: 20px 0;
  width: 100%;
  border: 1px solid #fff;
}
.last{
  text-align: center;
  letter-spacing: 8px;
}