:root{
  --primary-color: #c72727;
  --secondary-color:#f99500;
  --light-color:#f3f3f3;
  --dark-color:#333;
  --ent-color:#a66bbe;
  --max-width:1300px;
}

.category{
  --orang-color:#f99500;
  --purple-color:#a66bbe;
  --blue-color:#009cff;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}
a{
  color:#333;
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  margin: .5rem 0;
}

img{
  width: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Staaliches', cursive;
  margin-bottom: .55rem;
  line-height: 1.3;
}

.category{
  display: inline-block;
  color: #fff;
  font-size: 0.70rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-1 {background: var(--orang-color);}
.category-2 {background: var(--purple-color);}
.category-3 {background: var(--blue-color);}

.category-1:hover{
  opacity: 0.7;
}

.category-2:hover{
  opacity: 0.7;
}

.category-3:hover{
  opacity: 0.7;
}

.btn{
  display: inline-block;
  border:none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}


.btn-light{ background: var(--light-color)}
.btn-primary{background: var(--primary-color)}
.btn-secondary{background: var(--secondary-color)}

.btn-block{
  display: block;
  width: 100%;
  text-align: center;
}


.btn:hover{
  opacity: 0.9;
}


/* Utility */
.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
}
#main-nav{
  background: #333;
  position: sticky;
  top: 0;
  z-index: 2;
  color: #fff;
}

#main-nav .container{
  display: grid;
  grid-template-columns: 1fr 6fr 3fr ;
  padding: 1rem;
  align-items: center;
}

#main-nav .container h3 .name {
  color: #a66bbe;
}



#main-nav ul{
  justify-self: end;
  display: flex;
  color: #fff
}

#main-nav ul li a{
  padding: 0.75rem;
  font-weight: bold;
  color: #fff
}


#main-nav ul li .cart{
  color: var(--secondary-color);
}

#main-nav .search-section{
  justify-self: center;
  
}

#main-nav .search-section input{
  padding :1rem 18rem 1rem .5rem;
  overflow: hidden;
}


#main-nav .container .search-section .search-icon{
  display: inline-block;
  position: absolute;
  text-align: center;
  padding :.8rem 3rem 1rem .8rem;
  background-color: var(--secondary-color);
  margin-left: -.1rem;
  
}

#main-nav .container .search-section .search-icon i{
  margin-left: 2rem;
}


.nav-2{
  
  background-color: #f3f3f3;
  color: #333;
  font-family: 'Staaliches', cursive;
  position: sticky;
  padding: .8rem;
}

.nav-2 .container ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}


.nav-2 .container ul li ul{
  display: none;
  background-color: #fff;
  
}

.nav-2 .container ul li:hover ul{
  display: block;
} 

.nav-2 .container ul li:hover ul li a {
  display: block;
  width: 13rem;
  position: absolute;
}


.nav-2 .container ul li ul li a{
  padding: .5rem;
}

.nav-2 .container ul li ul li a{
  background-color: #f3f3f3;
  color: #333;
}


.nav-2 .container-nav ul li ul li{
  width: 10rem;
  
}

.nav-2 a{
 
  color: #333;
}



#showcase{
  color:#fff;
  background: #333;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

#showcase:before{
  content:'';
  background: url('./img/electronics.jpg') no-repeat center center/cover;
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}


#showcase .showcase-content{
  z-index: 1;
}

#showcase .showcase-content p{
  margin-bottom: 1rem;
}

.gadgets .container h2 .choose{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

 .electronic-gadgets {
  display: grid;
  grid-template-rows: repeat(4,1fr);
  grid-gap: 3rem;
  margin-top: 1rem;
}

.electronic-gadget1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.electronic-gadget1 .cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  transition: transform  .8s;
}

.electronic-gadget1{
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

.electronic-gadget2{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 /span 2;
  align-items: center;
  grid-gap: .8rem;
  transition: transform  .8s;
}




#article .meta{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .meta .category {
  margin-top: 0.4rem;
}
 img{
  max-width: 12.5rem;
  max-height: 12.5rem;
}

.card{
  background: #fff;
  padding: 1rem;
}

.electronic-gadget2 .card a {
  margin-left: 5rem;
  border-radius: 5px;
}

.electronic-gadget2 .card{
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

.electronic-gadget2 .card:hover{
  transform: translateY(-1rem) scale(1.03);
}

.electronic-gadget2 .card img:hover{
  transform:scale(1.1);
}

.electronic-gadget1 .card img:hover{
  transform:scale(1.08);
}